# Maximum and minimum number of peers to connect to per torrent.
min_peers = 40
max_peers = 100

# Same as above but for seeding completed torrents (-1 = same as downloading)
min_peers_seed = 20
max_peers_seed = 200

# Maximum number of simultanious uploads per torrent.
max_uploads = 30

# Maximum number of global upload and download sloats
max_uploads_global = 0
max_downloads_global = 0

# Global upload and download rate in KiB. "0" for unlimited.
download_rate = 5000
upload_rate = 1200

# Default directory to save the downloaded torrents.
directory = /mnt/media/torrent/complete

# Default session directory. Make sure you don't run multiple instance
# of rtorrent using the same session directory. Perhaps using a
# relative path?
session = /mnt/media/torrent/session

# Filter active torrents tab to torrents which are actually seeding/leeching
# https://wiki.archlinux.org/index.php/RTorrent#Displaying_active_torrents
schedule = filter_active,30,30,"view_filter = active,\"or={d.get_up_rate=,d.get_down_rate=}\""

# Port range to use for listening.
port_range = 55995-56000

# Start opening ports at a random position within the port range.
port_random = yes

# Check hash for finished torrents. Might be usefull until the bug is
# fixed that causes lack of diskspace not to be properly reported.
check_hash = yes

# Set whether the client should try to connect to UDP trackers.
use_udp_trackers = yes

# Encryption options, set to none (default) or any combination of the following:
# allow_incoming, try_outgoing, require, require_RC4, enable_retry, prefer_plaintext
#
# The example value allows incoming encrypted connections, starts unencrypted
# outgoing connections but retries with encryption if they fail, preferring
# plaintext to RC4 encryption after the encrypted handshake
encryption = allow_incoming,try_outgoing,enable_retry

# Enable DHT support for trackerless torrents or when all trackers are down.
# May be set to "disable" (completely disable DHT), "off" (do not start DHT),
# "auto" (start and stop DHT as needed), or "on" (start DHT immediately).
# The default is "off". For DHT to work, a session directory must be defined.
dht = disable

# Enable peer exchange (for torrents not marked private)
peer_exchange = no

# SCGI used together with XML-RPC (rutorrent)
scgi_port = 127.0.0.1:5000

# logging/debugging
log.open_file = "rtorrent", /mnt/media/torrent/logs/rtorrent.log
log.add_output = "debug","rtorrent"

# system resources
pieces.memory.max.set = 1000M
network.http.max_open.set = 64

# vim: ft=conf
