# Required for this repo
ansible
dnspython
netaddr

# For vimconf customizations
vim-vint

# Other useful packages
ansible-parallel
beeprint
bpython
click
dool
pipdeptree
requests
showcert
tuna
xkcdpass
